<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- SITE META -->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="publisher" content="reeceharris.net">  
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="robots" content="all">
      <!-- SEO TAGS -->
      <title>Reeceharris.net | Frequently Asked Questions(FAQ)</title>
      <link rel="canonical" href="<%= locals.url %>">
      <meta name="description" content="Here, you'll find answers to some of the most frequently asked questions about our blog. We've compiled information on topics such as the focus of our blog, who our authors are, how we handle user data, and the accuracy of our facts and figures. If you're unable to find the answer to your question here, feel free to reach out to us. Our goal is to provide you with the information you need to make the most of your experience on our site.">
      <!-- SOCIAL TAGS -->
      <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
      <meta property="og:title" content="Reeceharris.net | Frequently Asked Questions(FAQ)" />
      <meta property="og:description" content="Here, you'll find answers to some of the most frequently asked questions about our blog. We've compiled information on topics such as the focus of our blog, who our authors are, how we handle user data, and the accuracy of our facts and figures. If you're unable to find the answer to your question here, feel free to reach out to us. Our goal is to provide you with the information you need to make the most of your experience on our site.">
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= locals.url %>" />
      <meta name="theme-color" content="#ffffff">
      <!-- TWITTER TAGS -->
      <meta name="twitter:title" content="Reeceharris.net | Frequently Asked Questions(FAQ)">
      <meta name="twitter:description" content="Here, you'll find answers to some of the most frequently asked questions about our blog. We've compiled information on topics such as the focus of our blog, who our authors are, how we handle user data, and the accuracy of our facts and figures. If you're unable to find the answer to your question here, feel free to reach out to us. Our goal is to provide you with the information you need to make the most of your experience on our site.">
      <!-- ASSETS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>

      <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
              <% faq[0].concat(faq[1]).forEach(function(details, idx, array) { %>
                {
                  "@type": "Question",
                  "name": "<%= details.Title %>",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text":"<%= details.Content %>"}
                  }<% if (idx != array.length - 1){ %>,<%}%>
                <% }); %> 
            ]
          }
      </script>

  </head>

  <body class="bg-[#222222]">

      <%- include('../components/header.ejs'); %>

      <section class="mt-[6rem]">
          <div class="px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
              <h1 class="mb-8 text-4xl tracking-tight font-extrabold text-white">Frequently asked questions</h1>
              <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2">
                  <div>
                    <% faq[0].forEach(function(details) { %>
                      <div class="mb-10">
                        <h3 class="flex items-center mb-4 text-lg font-medium text-white">
                            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                            <%= details.Title %>
                        </h3>
                        <p class="text-white"><%= details.Content %></p>
                    </div>
                    <% }); %> 

                  </div>
                  <div>
                    <% faq[1].forEach(function(details) { %>
                      <div class="mb-10">
                        <h3 class="flex items-center mb-4 text-lg font-medium text-white">
                            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                            <%= details.Title %>
                        </h3>
                        <p class="text-white"><%= details.Content %></p>
                    </div>
                    <% }); %>
                  </div>
              </div>
          </div>
        </section>

      <%- include('../components/footer.ejs'); %>

  </body>

</html>

