<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SITE META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="publisher" content="reeceharris.net">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all">
        <!-- SEO TAGS -->
        <title>Reeceharris.net | The personal website of Reece Harris.</title>
        <link rel="canonical" href="<%= locals.url %>">
        <meta name="description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta name="author" content="Reece Harris">
        <meta name="keywords" content="ai,blog,technology">
        <!-- SOCIAL TAGS -->
        <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
        <meta property="og:title" content="Reeceharris.net | The personal website of Reece Harris." />
        <meta property="og:description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= locals.url %>" />
        <meta name="theme-color" content="#ffffff">
        <!-- TWITTER TAGS -->
        <meta name="twitter:title" content="Reeceharris.net | The personal website of Reece Harris.">
        <meta name="twitter:description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta name="twitter:site" content="@n0treeceharris">
        <!-- ASSETS -->
        <script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/jquery.min.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-[#222222] overflow-x-hidden">

        <%- include('../components/header.ejs'); %>

        <section class="py-10 sm:py-16 lg:py-24 mt-[6rem]">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                    <div>
                        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-white lg:text-5xl">
                            Empowering innovation, shaping <span id="change-shot">tomorrow</span>.
                        </h1>

                        <p class="mt-5 text-base text-white sm:text-lg">Welcome to my personal website, where I curate diverse tech-related content. You'll find regular blog posts on software, technology, projects, hardware, cybersecurity, and more here. But that's not all – I also provide an interactive <a class="text-blue-400" href="/sandbox">sandbox</a> for you to explore and experiment with my creations. In addition, you can view my <a class="text-blue-400" href="/portfolio">portfolio</a> to get a glimpse of my past projects and expertise. Feel free to explore my <a class="text-blue-400" href="/blogs">articles</a>, and if you enjoy what you find, consider joining my mailing list for the latest updates. Thank you for visiting!</p>

                        <div class="mt-6 sm:flex sm:items-center sm:space-x-6 space-y-1">
                            <a href="/latest" class="text-sm md:text-md inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">Latest Article</a>
                            <a href="/sandbox" class="text-sm md:text-md inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">Visit Sandbox</a>
                            <a href="/static/publickey.txt" class="text-sm md:text-md inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">OpenPGP Key</a>
                        </div>
                    </div>

                    <div>
                        <img class="hidden lg:block w-auto h-[27rem]  mx-auto" src="/static/robot-art.svg" alt="A huge awesome robot" />
                    </div>
                </div>
            </div>
        </section>

        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 border-t-[2px] border-[#444] my-6"></div>

        <section class="py-10 sm:py-16 lg:py-24">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 text-center sm:grid-cols-2 gap-y-8 lg:grid-cols-4 sm:gap-12">
                    
                    <div>
                        <div class="flex items-center justify-center w-[12rem] h-20 mx-auto rounded-full">
                            <img src="/static/serve-art.svg" alt="Character serving pancakes" title="Pancakes ?">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Regular blog articles</h3>
                        <p class="mt-4 text-sm text-gray-100">Stay informed and educated with our regularly updated blog articles on a variety of topics, from artificial intelligence to cyber security.</p>
                    </div>
                    
                    <div>
                        <div class="flex items-center justify-center w-[10rem] h-20 mx-auto rounded-full">
                            <img src="/static/ai-art.svg" alt="Robot" title="Beep Boop">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Artificial intelligence</h3>
                        <p class="mt-4 text-sm text-gray-100">Experience the future of technology in action with our Artificial Intelligence sandbox, where you can test and interact with AI-powered applications and tools.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[12rem] h-20 mx-auto rounded-full">
                            <img src="/static/sword-art.svg" alt="Sword" title="'Tis but a scratch.'">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Interactive sandbox</h3>
                        <p class="mt-4 text-sm text-gray-100">Explore the limits of technology and creativity with our interactive sandbox, featuring a variety of cutting-edge tools and applications for all to experience.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[12rem] h-20 mx-auto rounded-full">
                            <img src="/static/shrug-art.svg" alt="Iconic shrug ascii art" title="What can i say?">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Ascii art themed</h3>
                        <p class="mt-4 text-sm text-gray-100">Step into the world of minimalism and ASCII art with our themed website, featuring a clean and simple design with unique ASCII art elements throughout.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[10rem] h-20 mx-auto rounded-full">
                            <img src="/static/salute-art.svg" alt="Saluting character" title="Scout's honour!">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Ensured privacy</h3>
                        <p class="mt-4 text-sm text-gray-100">We assure you that any actions you take on our website will not result in the sharing of your data. In addition, we have implemented a <a href="/static/publickey.txt" class="text-blue-400">GPG</a> sign system for each article to ensure that you are not being censored.</p>
                    </div>
                    
                    <div>
                        <div class="flex items-center justify-center w-[11rem] h-20 mx-auto rounded-full">
                            <img src="/static/hug-art.svg" alt="Hugging character" title="Everybody loves open source">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Everyone welcome</h3>
                        <p class="mt-4 text-sm text-gray-100">Whether you're starting your technology career or you're an experienced software engineer, our site caters to individuals of all skill levels with a wide range of content.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[10rem] h-20 mx-auto rounded-full">
                            <img src="/static/monocle-art.svg" alt="Character wearing a monocle" title="'To be, or not to be: that is the question'">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Community authors</h3>
                        <p class="mt-4 text-sm text-gray-100">All of the articles on our blog are written by individuals just like you. If you're interested in becoming an author, please send us an <a href="mailto:reeceharris@email.net" class="text-blue-400">email</a> and we'll be happy to consider your submission.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[11rem] h-20 mx-auto rounded-full">
                            <img src="/static/thebird-art.svg" alt="The bird">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">No ads forever</h3>
                        <p class="mt-4 text-sm text-gray-100">We do not display ads on our platform. However, we kindly ask that you consider donating to help cover the cost of server hosting. You can make a donation through <a href="https://github.com/sponsors/NotReeceHarris" class="text-pink-400">GitHub Sponsors</a>.</p>
                    </div>

                </div>
            </div>
        </section>


        <%- include('../components/newsletter.ejs'); %>

        <aside aria-label="Latest articles" class="py-8 mt-12 lg:pb-12 px-4 mx-auto max-w-7xl sm:px-6 lg:px-8" id="latest-articles-container">
            <div class="px-4 mx-auto max-w-7xl">
                <h2 class="mb-12 text-3xl font-bold text-white text-center md:text-left">Latest articles</h2>
                <div class="grid gap-y-12 gap-x-8 sm:grid-cols-2 lg:grid-cols-3" id="latest-articles">
                    
                </div>
            </div>
        </aside>

        <script>

            function readingTime(content) {
                    var div = document.createElement("div");
                    div.innerHTML = content;
                    var text = div.textContent || div.innerText || "";
                    const wpm = 225;
                    const words = text.trim().split(/\s+/).length;
                    const time = Math.ceil(words / wpm);
                    div.remove()
                    return time;
            }

            function escapeHtml (string) {
                    var entityMap = {
                        '&': '&amp;',
                        '<': '&lt;',
                        '>': '&gt;',
                        '"': '&quot;',
                        "'": '&#39;',
                        '/': '&#x2F;',
                        '`': '&#x60;',
                        '=': '&#x3D;'
                    };
                    return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                        return entityMap[s];
                    });
            }

            $.get(`/api/latest`, function(data, status){
                    
                if (data.data.length == 0) {
                    $('#latest-articles-container').remove()
                }
                
                data.data.forEach(function(element, index) {
                        $('#latest-articles').append(`
                                <article ${index != 0 ? 'class=" border-[#444] border-t-[1px] pt-8 sm:pt-0 sm:border-none "' : ''}>
                                    <img alt="${escapeHtml(element.attributes.banner.data.attributes.alternativeText)}" src="https://cms.reeceharris.net/${element.attributes.banner.data.attributes.url}" class="mb-5 h-[8rem] w-auto object-contain hidden sm:block">
                                    <a href="/blog/${element.attributes.slug}">
                                        <h3 class="mb-2 text-xl font-bold leading-tight text-white ">
                                            ${element.attributes.title}
                                        </h3>
                                    </a>
                                    <p class="mb-4 font-light text-gray-200 ">${element.attributes.description}</p>
                                    <a href="/blog/${element.attributes.slug}" class="inline-flex items-center font-medium underline underline-offset-4 text-gray-200 hover:no-underline">
                                        Read in ${readingTime(element.attributes.content)} minutes
                                    </a>
                                </article>
                            `)
                    })
            });
        </script>
        
        <%- include('../components/footer.ejs'); %>

    </body>

    <script>$('#current-year').text(new Date().getFullYear())</script>

</html>

