<!DOCTYPE html>
<html lang="en">
<head>
        <!-- SITE META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="publisher" content="reeceharris.net">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all">
        <!-- SEO TAGS -->
        <title>Latest articles</title>
        <link rel="canonical" href="<%= locals.url %>">
        <meta name="description" content="View the latest articles from reeceharris.net, our blog covers topics of technoloy from AI to programming.">
        <meta name="keywords" content="technology, blog, ai, programming">
        <!-- SOCIAL TAGS -->
        <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
        <meta property="og:title" content="Latest articles" />
        <meta property="og:description" content="View the latest articles from reeceharris.net, our blog covers topics of technoloy from AI to programming.">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= locals.url %>" />
        <meta name="theme-color" content="#ffffff">
        <!-- TWITTER TAGS -->
        <meta name="twitter:title" content="Latest articles">
        <meta name="twitter:description" content="View the latest articles from reeceharris.net, our blog covers topics of technoloy from AI to programming.">
        <meta name="twitter:site" content="@n0treeceharris">
        <!-- ASSETS -->
        <script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/moment.min.js" crossorigin="anonymous"></script>
</head>

<body class="bg-[#222222]">
    <%- include('../components/header.ejs'); %>

    <main class="mt-12" >
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto  mb-8">
                <span class="flex items-center gap-3 mb-4 ">
                    <h1 class="text-3xl lg:text-4xl tracking-tight font-extrabold text-white">Latest articles</h1>
                    <a title="RSS Feed" href="/rss"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f29f19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
                </span>
                <p class="font-light text-gray-200 sm:text-xl">Welcome to our article list page! Here you will find a wide range of informative and engaging articles on various topics. From the latest advancements in technology and science to tips for self-improvement, our articles aim to educate and inspire. Whether you're a student, professional, or just looking for interesting reading material, you're sure to find something of interest here. We cover a diverse range of subjects, including Artificial Intelligence, programming, and more. Take a look around and start exploring the world of knowledge today!</p>
            </div> 
            <%- include('./feed.ejs'); %>
        </div>
    </main>

    <%- include('../components/footer.ejs'); %>

</body>

<script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>
<script>$('#current-year').text(new Date().getFullYear())</script>

</html>