<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="publisher" content="reeceharris.net">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
    <!-- SEO TAGS -->
    <title><%= post.title %></title>
    <link rel="canonical" href="<%= locals.url %>">
    <meta name="description" content="<%= post.description %>">
    <meta name="author" content="<%= author.data.attributes.fullname %>">
    <meta name="keywords" content="<% for(var i=0; i<post.topics.data.length; i++) {%><%= post.topics.data[i].attributes.title %>,<% } %>">
    <!-- SOCIAL TAGS -->
    <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
    <meta property="og:title" content="<%= post.title %>" />
    <meta property="og:description" content="<%= post.description %>">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= locals.url %>" />
    <meta property="og:image" content="https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>" />
    <meta name="theme-color" content="#ffffff">
    <!-- TWITTER TAGS -->
    <meta name="twitter:title" content="<%= post.title %>">
    <meta name="twitter:description" content="<%= post.description %>">
    <meta name="twitter:image" content="https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>">
    <meta name="twitter:image:alt" content="<%= post.banner.data.attributes.alternativeText %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@n0treeceharris">
    <!-- JSON-LD -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "NewsArticle",
          "headline": "<%= post.title %>",
          "image": [
            "https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>"
           ],
          "datePublished": "<%= post.publishedAt %>",
          "dateModified": "<%= post.updatedAt %>",
          "author": [{
              "@type": "Person",
              "name": "<%= author.data.attributes.fullname %>",
              "url": "https://reeceharris.com/author/<%= author.data.id %>"
            }]
        }
    </script>
    <!-- ASSETS -->
    <script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/stackoverflow-dark.min.css" integrity="sha512-Xn1b0y/BrCD7usnEh6r9CcKxHXFVleVUjGDnfc95zDDwFUwtOz3lJC/XtJcuLRNyrMQJEEToFfwjC9Ue/aWY/g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/js/highlighter.min.js"></script>
    <link rel="stylesheet" href="/static/css/blog.min.css">
    <script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>

</head>

    <body class="bg-[#222222] overflow-hidden">
        
        <div id="page-loader" class="bg-[#222222] w-screen h-screen fixed z-[103] top-0">
            <div id="cube-anim" class="text-white">
            </div>
        </div>
        <%- include('../components/header.ejs'); %>
        <div class="w-full top-0 fixed z-[102]" id="page-progress"><div id="progress-bar" class="w-0 h-[3px] bg-white" style="transition: width 0.5s;"></div></div>
        
        <main class="mt-12 pb-16 pt-8 md:pt-16 lg:pb-18 px-6 ">
            <div class="flex mx-auto max-w-7xl w-[90vw] sm:w-[80vw] md:w-[70vw] lg:w-full">
                <article class="mx-auto w-full format format-sm sm:format-base lg:format-lg format-blue text-gray-300">
                    <header class="mb-4 lg:mb-6 not-format">
                        <div class="max-h-screen">
                            <img class="rounded-md mb-5 w-full hidden 2xl:block" src="https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>" title="<%= post.banner.data.attributes.alternativeText %>" alt="<%= post.banner.data.attributes.alternativeText %>" width="<%= post.banner.data.attributes.width %>" height="<%= post.banner.data.attributes.height %>">
                            <h1 class="text-3xl font-extrabold leading-tight text-white lg:text-4xl"><%= post.title %></h1>
                            <div id="tags" class="mb-6 mt-3 flex gap-x-2 flex-wrap">
                                <% for(var i=0; i<post.topics.data.length; i++) {%>
                                    <a class="underline font-semibold text-lg decoration-[<%= post.topics.data[i].attributes.color %>]" href="/topic/<%= post.topics.data[i].attributes.slug %>">#<%= post.topics.data[i].attributes.title %></a>
                                <% } %>
                            </div>
                        </div>
                        <address class="flex items-center mb-6 not-italic border-b border-t py-6 border-[#444]">
                            <div class="inline-flex items-center mr-3 text-sm w-full">
                                <img class="mr-4 w-16 h-16 rounded-full" src="https://cms.reeceharris.net/<%= author.data.attributes.portrait.data.attributes.url %>" alt="<%= author.data.attributes.portrait.data.attributes.alternativeText %>">
                                <div class="md:flex justify-between w-full">
                                    <div>
                                        <a href="/author/<%= author.data.id %>" rel="author" class="text-xl font-bold text-white "><%= author.data.attributes.fullname %></a>
                                        <p class="text-base font-light text-gray-400 "><%= author.data.attributes.headliner.substr(0,70) %><%= author.data.attributes.headliner.length >= 70 ? '...' : '' %></p>
                                        <p class="text-base font-light text-gray-200 "><time pubdate datetime="<%= new Date(post.publishedAt).getFullYear() %>-<%= new Date(post.publishedAt).getMonth() + 1%>-<%= new Date(post.publishedAt).getDate() %>" title="<%= new Date(post.publishedAt).toLocaleString('en-US', { month: 'short' }) %> <%= new Date(post.publishedAt).getDate() %>, <%= new Date(post.publishedAt).getFullYear() %>"><%= new Date(post.publishedAt).toLocaleString('en-US', { month: 'long' }) %> <%= new Date(post.publishedAt).getDate() + (new Date(post.publishedAt).getDate() > 0 ? ['th', 'st', 'nd', 'rd'][(new Date(post.publishedAt).getDate() > 3 && new Date(post.publishedAt).getDate() < 21) || new Date(post.publishedAt).getDate() % 10 > 3 ? 0 : new Date(post.publishedAt).getDate() % 10] : '') %>, <%= new Date(post.publishedAt).getFullYear() %></time></p> <!-- Jan. 23, 2023 -->
                                    </div>
                                    <div class="flex gap-x-4 mt-3 md:mt-6">
                                        <span id="citation" title="Cite" class="cursor-pointer fill-white"><svg clip-rule="evenodd" width="26" height="26" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3.378 20c-.76 0-1.378-.608-1.378-1.355 0-.531.315-1.018.843-1.302 1.212-.645 2.614-2.735 2.983-4.286-2.38-.538-3.8-2.394-3.8-4.564 0-2.169 1.859-4.493 4.627-4.493 3.501 0 5.096 2.882 5.096 5.561 0 5.742-6.32 10.439-8.371 10.439zm10.251 0c-.76 0-1.378-.608-1.378-1.355 0-.531.315-1.018.843-1.302 1.212-.645 2.614-2.735 2.983-4.286-2.38-.538-3.8-2.394-3.8-4.564 0-2.169 1.859-4.493 4.627-4.493 3.501 0 5.096 2.882 5.096 5.561 0 5.742-6.32 10.439-8.371 10.439zm-6.21-8.428c.112 3-1.984 5.754-3.649 6.966 1.911-.782 6.479-4.857 6.479-8.977 0-1.869-.942-4.051-3.596-4.051-1.871 0-3.127 1.542-3.127 2.983 0 1.453.862 3.166 3.893 3.079zm10.251 0c.112 3-1.984 5.754-3.649 6.966 1.911-.782 6.479-4.857 6.479-8.977 0-1.869-.942-4.051-3.596-4.051-1.871 0-3.127 1.542-3.127 2.983 0 1.453.862 3.166 3.893 3.079z" fill-rule="nonzero"/></svg></span>
                                        <span id="pgp-signed" title="PGP Signed" class="cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></span>
                                        <span id="copy-link" title="Copy link" class="cursor-pointer"><img src="/static/share.svg" alt="Share to clipboard" srcset=""></span>
                                        <a target="_blank" title="Share to Twitter" href="https://twitter.com/intent/tweet?text=View the latest article on <%= post.title %> 
                                            
                                            View the article here: https://reeceharris.net/blog/<%= post.slug %>"><img src="/static/twitter.svg" alt="Share to twitter" srcset=""></a>
                                    </div>
                                </div>
                            </div>
                        </address>
                    </header>
                    <div id="content" class="break-words"><%- post.content  %></div>
                </article>
            </div>
        </main>

        <section id="articleHighlights" class="mb-2 hidden ">
        </section>

        <%- include('../components/newsletter.ejs'); %>
        

        <aside aria-label="Related articles" class="py-8 lg:pb-12" id="related-articles-container">
            <div class="px-4 mx-auto max-w-7xl w-[90vw] sm:w-[80vw] md:w-[70vw] lg:w-full">
                <h2 class="mb-8 text-2xl font-bold text-white text-center md:text-left">Related articles</h2>
                <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3" id="related-articles">
                    
                </div>
            </div>
        </aside>

        <%- include('../components/footer.ejs'); %>

        <script src="/static/js/blog.min.js"></script>
        <script src="/static/js/cube.min.js"></script>

        <script>

            $(document).ready(function() {


                $('#pgp-signed').click(() => {
                    var link = document.URL + "/openPgp";
			        var popup = window.open(link, "popup", "width=400,height=300");
                })

                $('#citation').click(() => {
                    window.open(`https://www.citethisforme.com/cite/website/autocite?q=${document.URL}`, '_blank').focus()
                })

                $('#copy-link').click(() => {
                    toastr.success('','Link copied to clipboard!')
                })

                $('#content img').each( function() {
                    $(this).addClass('rounded-md')
                    if ($(this).attr('src').startsWith('/uploads/')) {
                        $(this).attr('srcset', 'https://cms.reeceharris.net' + $(this).attr('src'))
                        $(this).attr('src', 'https://cms.reeceharris.net' + $(this).attr('src'))
                    }
                })
            })

            document.addEventListener('DOMContentLoaded', function() {
                $('body').removeClass('overflow-hidden')
                    $('#page-loader').remove()
                setTimeout(function () {
                    $('body').removeClass('overflow-hidden')
                    $('#page-loader').remove()
                }, 1000)
                $('#content a').each(function () {
                    $(this).addClass('text-red-400')
                })
            });

            function readingTime(content) {
                    var div = document.createElement("div");
                    div.innerHTML = content;
                    var text = div.textContent || div.innerText || "";
                    const wpm = 225;
                    const words = text.trim().split(/\s+/).length;
                    const time = Math.ceil(words / wpm);
                    div.remove()
                    return time;
            }

            function escapeHtml (string) {
                    var entityMap = {
                        '&': '&amp;',
                        '<': '&lt;',
                        '>': '&gt;',
                        '"': '&quot;',
                        "'": '&#39;',
                        '/': '&#x2F;',
                        '`': '&#x60;',
                        '=': '&#x3D;'
                    };
                    return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                        return entityMap[s];
                    });
            }

            $.get(`/api/related?topic=<% for(var i=0; i<post.topics.data.length; i++) {%><%= post.topics.data[i].attributes.slug %>,<% } %>&current=<%= post.slug %>`, function(data, status){
                    
                if (data.data.length == 0) {
                    $('#related-articles-container').remove()
                }
                
                data.data.forEach(function(element) {
                        $('#related-articles').append(`<article><a href="/blog/${element.attributes.slug}" class="hidden md:block"><img alt="${escapeHtml(element.attributes.banner.data.attributes.alternativeText)}" src="https://cms.reeceharris.net/${element.attributes.banner.data.attributes.url}" class=" h-[8rem] w-auto object-contain"></a><h3 class="mb-2 text-xl font-bold leading-tight text-white "><a href="/blog/${element.attributes.slug}">${element.attributes.title}</a></h3><p class="mb-4 font-light text-gray-200 ">${element.attributes.description}</p><a href="/blog/${element.attributes.slug}" class="inline-flex items-center font-medium underline underline-offset-4 text-gray-200 hover:no-underline">Read in ${readingTime(element.attributes.content)} minutes</a></article>`)
                    })
            });
        </script>

    </body>

</html>