<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="publisher" content="reeceharris.net">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
    <!-- SEO TAGS -->
    <title><%= post.title %></title>
    <link rel="canonical" href="<%= locals.url %>">
    <meta name="description" content="<%= post.description %>">
    <meta name="author" content="<%= author.data.attributes.fullname %>">
    <meta name="keywords" content="<% for(var i=0; i<post.topics.data.length; i++) {%><%= post.topics.data[i].attributes.title %>,<% } %>">
    <!-- SOCIAL TAGS -->
    <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
    <meta property="og:title" content="<%= post.title %>" />
    <meta property="og:description" content="<%= post.description %>">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= locals.url %>" />
    <meta property="og:image" content="https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>" />
    <meta name="theme-color" content="#ffffff">
    <!-- TWITTER TAGS -->
    <meta name="twitter:title" content="<%= post.title %>">
    <meta name="twitter:description" content="<%= post.description %>">
    <meta name="twitter:image" content="https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>">
    <meta name="twitter:image:alt" content="<%= post.banner.data.attributes.alternativeText %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@n0treeceharris">
    <!-- JSON-LD -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "NewsArticle",
          "headline": "<%= post.title %>",
          "image": [
            "https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>"
           ],
          "datePublished": "<%= post.publishedAt %>",
          "dateModified": "<%= post.updatedAt %>",
          "author": [{
              "@type": "Person",
              "name": "<%= author.data.attributes.fullname %>",
              "url": "https://reeceharris.com/author/<%= author.data.id %>"
            }]
        }
    </script>
    <!-- ASSETS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/stackoverflow-dark.min.css" integrity="sha512-Xn1b0y/BrCD7usnEh6r9CcKxHXFVleVUjGDnfc95zDDwFUwtOz3lJC/XtJcuLRNyrMQJEEToFfwjC9Ue/aWY/g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/static/blog.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

</head>

    <body class="bg-[#222222] overflow-hidden">
        
        <div id="page-loader" class="bg-[#222222] w-screen h-screen fixed z-[103] top-0">
            <div id="cube-anim" class="text-white">
            </div>
        </div>
        <%- include('../components/header.ejs'); %>
        <div class="w-full top-0 fixed z-[102]" id="page-progress"><div id="progress-bar" class="w-0 h-[3px] bg-white" style="transition: width 0.5s;"></div></div>
        
        <main class="mt-12 pb-16 pt-8 md:pt-16 lg:pb-18 px-6 ">
            <div class="flex  mx-auto max-w-screen-lg">
                <article class="mx-auto w-full format format-sm sm:format-base lg:format-lg format-blue text-gray-300">
                    <header class="mb-4 lg:mb-6 not-format">
                        <div class="max-h-screen">
                            <img class="rounded-md mb-5 w-full hidden 2xl:block" src="https://cms.reeceharris.net/<%= post.banner.data.attributes.url %>" title="<%= post.banner.data.attributes.alternativeText %>" alt="<%= post.banner.data.attributes.alternativeText %>" width="<%= post.banner.data.attributes.width %>" height="<%= post.banner.data.attributes.height %>">
                            <h1 class="text-3xl font-extrabold leading-tight text-white lg:text-4xl"><%= post.title %></h1>
                            <div id="tags" class="mb-6 mt-3 flex gap-x-2 flex-wrap">
                                <% for(var i=0; i<post.topics.data.length; i++) {%>
                                    <a class="underline font-semibold text-lg decoration-[<%= post.topics.data[i].attributes.color %>]" href="/topic/<%= post.topics.data[i].attributes.slug %>">#<%= post.topics.data[i].attributes.title %></a>
                                <% } %>
                            </div>
                        </div>
                        <address class="flex items-center mb-6 not-italic border-b border-t py-6 border-[#444]">
                            <div class="inline-flex items-center mr-3 text-sm w-full">
                                <img class="mr-4 w-16 h-16 rounded-full" src="https://cms.reeceharris.net/<%= author.data.attributes.portrait.data.attributes.url %>" alt="<%= author.data.attributes.portrait.data.attributes.alternativeText %>">
                                <div class="md:flex justify-between w-full">
                                    <div>
                                        <a href="/author/<%= author.data.id %>" rel="author" class="text-xl font-bold text-white "><%= author.data.attributes.fullname %></a>
                                        <p class="text-base font-light text-gray-400 "><%= author.data.attributes.headliner.substr(0,70) %><%= author.data.attributes.headliner.length >= 70 ? '...' : '' %></p>
                                        <p class="text-base font-light text-gray-200 "><time pubdate datetime="<%= new Date(post.publishedAt).getFullYear() %>-<%= new Date(post.publishedAt).getMonth() + 1%>-<%= new Date(post.publishedAt).getDate() %>" title="<%= new Date(post.publishedAt).toLocaleString('en-US', { month: 'short' }) %> <%= new Date(post.publishedAt).getDate() %>, <%= new Date(post.publishedAt).getFullYear() %>"><%= new Date(post.publishedAt).toLocaleString('en-US', { month: 'long' }) %> <%= new Date(post.publishedAt).getDate() + (new Date(post.publishedAt).getDate() > 0 ? ['th', 'st', 'nd', 'rd'][(new Date(post.publishedAt).getDate() > 3 && new Date(post.publishedAt).getDate() < 21) || new Date(post.publishedAt).getDate() % 10 > 3 ? 0 : new Date(post.publishedAt).getDate() % 10] : '') %>, <%= new Date(post.publishedAt).getFullYear() %></time></p> <!-- Jan. 23, 2023 -->
                                    </div>
                                    <div class="flex gap-x-4 mt-3 md:mt-6">
                                        <span id="citation" title="Cite" class="cursor-pointer fill-white"><svg clip-rule="evenodd" width="26" height="26" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3.378 20c-.76 0-1.378-.608-1.378-1.355 0-.531.315-1.018.843-1.302 1.212-.645 2.614-2.735 2.983-4.286-2.38-.538-3.8-2.394-3.8-4.564 0-2.169 1.859-4.493 4.627-4.493 3.501 0 5.096 2.882 5.096 5.561 0 5.742-6.32 10.439-8.371 10.439zm10.251 0c-.76 0-1.378-.608-1.378-1.355 0-.531.315-1.018.843-1.302 1.212-.645 2.614-2.735 2.983-4.286-2.38-.538-3.8-2.394-3.8-4.564 0-2.169 1.859-4.493 4.627-4.493 3.501 0 5.096 2.882 5.096 5.561 0 5.742-6.32 10.439-8.371 10.439zm-6.21-8.428c.112 3-1.984 5.754-3.649 6.966 1.911-.782 6.479-4.857 6.479-8.977 0-1.869-.942-4.051-3.596-4.051-1.871 0-3.127 1.542-3.127 2.983 0 1.453.862 3.166 3.893 3.079zm10.251 0c.112 3-1.984 5.754-3.649 6.966 1.911-.782 6.479-4.857 6.479-8.977 0-1.869-.942-4.051-3.596-4.051-1.871 0-3.127 1.542-3.127 2.983 0 1.453.862 3.166 3.893 3.079z" fill-rule="nonzero"/></svg></span>
                                        <span id="pgp-signed" title="PGP Signed" class="cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></span>
                                        <span id="copy-link" title="Copy link" class="cursor-pointer"><img src="/static/share.svg" alt="Share to clipboard" srcset=""></span>
                                        <a target="_blank" title="Share to Twitter" href="https://twitter.com/intent/tweet?text=View the latest article on <%= post.title %> 
                                            
                                            View the article here: https://reeceharris.net/blog/<%= post.slug %>"><img src="/static/twitter.svg" alt="Share to twitter" srcset=""></a>
                                    </div>
                                </div>
                            </div>
                        </address>
                    </header>
                    <div id="content" class="break-words"><%- post.content  %></div>
                </article>
            </div>
        </main>

        <section id="articleHighlights" class="mb-2 hidden">
        </section>

        <section class="mb-2">
            <div class="py-6 border-t border-b border-[#444] grid max-w-screen-lg w-[90vw] sm:w-[80vw] md:w-[90vw] lg:w-full px-4 py-2 mx-auto lg:gap-8 lg:grid-cols-12 text-center lg:text-start">
                <div class="mr-auto place-self-center lg:col-span-7">
                    <span class="max-w-2xl text-2xl font-bold tracking-tight leading-none md:text-3xl xl:text-4xl text-white">Sign up for our newsletter</span>
                    <p class="max-w-2xl mb-4 mt-2 font-light text-gray-100 lg:mb-4 md:text-md lg:text-lg text-gray-300">Stay up to date with the latest articles, sandbox tools and updates feel free to sign up with your email.</p>
                    <div>
                        <div class="flex items-center">   
                            <label for="email-input" class="sr-only">Enter your email</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                </div>
                                <input type="email" id="email-input" class="bg-[#222222] border border-[#444] text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Enter your  email" required>
                            </div>
                            <button id="email-signup" class="p-2.5 ml-2 text-sm font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]">
                                <span>Signup</span>
                            </button>
                            
                        </div>
                        <div class="text-sm mt-4 text-gray-300">We care about the protection of your data <a href="/privacy-policy#email-collection" class="font-medium text-gray-400 hover:underline">Read our Privacy Policy</a>.</div>
                    </div>
                </div>
                <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                    <img src="/static/letterbox-art.svg" alt="mockup" class="h-[250px]">
                </div>                
            </div>
        </section>
        
        <script src="https://www.google.com/recaptcha/api.js?render=6LckWSkkAAAAAPXSePkWq0nb7sWXwRSpZmCWuNsL"></script>
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
        
            $('#email-signup').click(function() {
                grecaptcha.ready(function() {
                    grecaptcha.execute('6LckWSkkAAAAAPXSePkWq0nb7sWXwRSpZmCWuNsL', {action: 'submit'}).then(function(token) {
                        $.ajax({
                            type: "POST",
                            url: "/api/newletter",
                            data: { email: $('#email-input').val(), recaptcha: token },
                            success: function(response) {
                                if(response.data == "success"){
                                    toastr.success('','You are now signed up for email alerts!')
                                }else{
                                    toastr.error('', 'Issue submitting your email.')
                                }
                            }
                        });
                    });
                });
            })
        </script>
        

        <aside aria-label="Related articles" class="py-8 lg:pb-12" id="related-articles-container">
            <div class="px-4 mx-auto max-w-screen-lg">
                <h2 class="mb-8 text-2xl font-bold text-white text-center md:text-left">Related articles</h2>
                <div class="grid gap-12 md:grid-cols-2 lg:grid-cols-3" id="related-articles">
                    
                </div>
            </div>
        </aside>

        <%- include('../components/footer.ejs'); %>

        <script src="/static/blog.js"></script>
        <script src="/static/cube.js"></script>

        <script>

            $(document).ready(function() {


                $('#pgp-signed').click(() => {
                    var link = document.URL + "/openPgp";
			        var popup = window.open(link, "popup", "width=400,height=300");
                })

                $('#citation').click(() => {
                    window.open(`https://www.citethisforme.com/cite/website/autocite?q=${document.URL}`, '_blank').focus()
                })

                $('#copy-link').click(() => {
                    toastr.success('','Link copied to clipboard!')
                })

                $('#content img').each( function() {
                    $(this).addClass('rounded-md')
                    if ($(this).attr('src').startsWith('/uploads/')) {
                        $(this).attr('srcset', 'https://cms.reeceharris.net' + $(this).attr('src'))
                        $(this).attr('src', 'https://cms.reeceharris.net' + $(this).attr('src'))
                    }
                })

                let articleHighlights = '';
                
                let articleImages = '<div><h4 class="text-white text-lg mb-2">Images</h4><ul class="w-full list-disc text-white ml-[1rem]">';
                let externalLinks = '<div><h4 class="text-white text-lg mb-2">External Links</h4><ul class="w-full list-disc text-white ml-[1rem]">';
                
                let links = false;
                let images = false;

                $('#content a').each(function () {
                    if (!$(this).attr('href').startsWith('https://reeceharris.net') && $(this).attr('href').startsWith('http') || $(this).attr('href').startsWith('://')) {
                        externalLinks += `<li class="w-full"><a class="text-blue-400" href="${$(this).attr('href')}">${$(this).attr('href')}</a></li>`
                        links = true
                        $(this).attr('target', '_blanc')
                    }
                })

                $('#content img').each(function () {
                    articleImages += `<li class="w-full"><a class="text-blue-400" target="_blanc" href="${$(this).attr('src')}">${$(this).attr('alt') ? $(this).attr('alt') : $(this).attr('src').substring(70,0)}${!$(this).attr('alt') && $(this).attr('src').length > 70 ? '...' : ''}</a></li>`
                    images = true;
                })

                externalLinks += '</ul></div>'
                articleImages += '</ul></div>'

                if (links) {articleHighlights += externalLinks}
                if (images) {articleHighlights += articleImages}

                if (articleHighlights != '') {
                    $('#articleHighlights').html(`
                    <div class="py-6 border-t border-[#444] flex flex-col gap-3 max-w-screen-lg w-[90vw] sm:w-[80vw] md:w-[90vw] lg:w-full px-4 py-2 mx-auto text-start">
                        ${articleHighlights}
                    </div>
                    `)
                    $('#articleHighlights').removeClass('hidden')
                }
            })

            document.addEventListener('DOMContentLoaded', function() {
                $('body').removeClass('overflow-hidden')
                    $('#page-loader').remove()
                setTimeout(function () {
                    $('body').removeClass('overflow-hidden')
                    $('#page-loader').remove()
                }, 1000)
                $('#content a').each(function () {
                    $(this).addClass('text-red-400')
                })
            });

            function readingTime(content) {
                    var div = document.createElement("div");
                    div.innerHTML = content;
                    var text = div.textContent || div.innerText || "";
                    const wpm = 225;
                    const words = text.trim().split(/\s+/).length;
                    const time = Math.ceil(words / wpm);
                    div.remove()
                    return time;
            }

            function escapeHtml (string) {
                    var entityMap = {
                        '&': '&amp;',
                        '<': '&lt;',
                        '>': '&gt;',
                        '"': '&quot;',
                        "'": '&#39;',
                        '/': '&#x2F;',
                        '`': '&#x60;',
                        '=': '&#x3D;'
                    };
                    return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                        return entityMap[s];
                    });
            }

            $.get(`/api/related?topic=<% for(var i=0; i<post.topics.data.length; i++) {%><%= post.topics.data[i].attributes.slug %>,<% } %>&current=<%= post.slug %>`, function(data, status){
                    
                if (data.data.length == 0) {
                    $('#related-articles-container').remove()
                }
                
                data.data.forEach(function(element) {
                        $('#related-articles').append(`
                                <article class="max-w-xs mx-auto">
                                    <a href="/blog/${element.attributes.slug}" class="hidden md:block">
                                        <img alt="${escapeHtml(element.attributes.banner.data.attributes.alternativeText)}" src="https://cms.reeceharris.net/${element.attributes.banner.data.attributes.url}" class=" h-[8rem] w-auto object-contain">
                                    </a>
                                    <h3 class="mb-2 text-xl font-bold leading-tight text-white ">
                                        <a href="/blog/${element.attributes.slug}">${element.attributes.title}</a>
                                    </h3>
                                    <p class="mb-4 font-light text-gray-200 ">${element.attributes.description}</p>
                                    <a href="/blog/${element.attributes.slug}" class="inline-flex items-center font-medium underline underline-offset-4 text-gray-200 hover:no-underline">
                                        Read in ${readingTime(element.attributes.content)} minutes
                                    </a>
                                </article>
                            `)
                    })
            });
        </script>

    </body>

</html>