<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SITE META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="publisher" content="reeceharris.net">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all">
        <!-- SEO TAGS -->
        <title>Reece Harris's Portfolio.</title>
        <link rel="canonical" href="<%= locals.url %>">
        <meta name="description" content="Explore my diverse portfolio showcasing a range of projects, from personal endeavors to client collaborations.">
        <meta name="author" content="Reece Harris">
        <meta name="keywords" content="ai,blog,technology,portfolio">
        <!-- SOCIAL TAGS -->
        <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
        <meta property="og:title" content="Reece Harris's Portfolio" />
        <meta property="og:description" content="Explore my diverse portfolio showcasing a range of projects, from personal endeavors to client collaborations.">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= locals.url %>" />
        <meta name="theme-color" content="#ffffff">
        <!-- TWITTER TAGS -->
        <meta name="twitter:title" content="Reece Harris's Portfolio">
        <meta name="twitter:description" content="Explore my diverse portfolio showcasing a range of projects, from personal endeavors to client collaborations.">
        <meta name="twitter:site" content="@n0treeceharris">
        <!-- ASSETS -->
<script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script><link rel="stylesheet" href="/static/css/style.css">        <script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>

        <link href=" https://cdn.jsdelivr.net/npm/glidejs@2.1.0/dist/css/glide.core.min.css " rel="stylesheet">

        <style>
            .glide__bullet--active {
                opacity: 1 !important;
            }
        </style>

    </head>

    <body class="bg-[#222222]">
        
        <%- include('../components/header.ejs'); %>

        <section class="mt-12 md:mt-20 min-h-[80vh]">
            <div class="abc123 py-8 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6 flex flex-col gap-8">
            
                <div class="flex flex-col gap-4">
                    <h1 class="text-4xl text-white">Portfolio</h1>
                    <p class="text-white text-lg font-light ">Welcome to my personal portfolio. I have a diverse range of experiences ranging from personal projects. Please take a moment to browse through all my personal projects.</p>
                </div>

                <div>
                    <div class="sm:hidden">
                    <label for="tab" class="sr-only">Tab</label>
                
                    <select id="tab" class="w-full rounded-md text-white bg-[transparent] px-5 py-3 border border-[#444]">
                        <option value="all">All</option>
                        <% for(var i=0; i<tags.data.length; i++) {%>
                            <option value="<%= tags.data[i].id %>"><%= tags.data[i].attributes.name %></option>
                        <% } %>
                    </select>
                    </div>
                
                    <div class="hidden sm:block">
                        <div class="border-b border-[#444]">
                            <nav class="-mb-px flex gap-6" aria-label="Tabs">

                                <span
                                    id="all"
                                    class="tab_selector border-white text-white shrink-0 border-b-2 cursor-pointer border-transparent px-1 pb-4 text-sm font-medium hover:border-white hover:text-white"
                                >
                                    All
                                </span>

                                <% for(var i=0; i<tags.data.length; i++) {%>

                            <span
                                id="<%= tags.data[i].id %>"
                                class="tab_selector text-gray-400 shrink-0 border-b-2 cursor-pointer border-transparent px-1 pb-4 text-sm font-medium hover:border-white hover:text-white"
                            >
                                <%= tags.data[i].attributes.name %>
                            </span>

                            <% } %>
                            </nav>
                        </div>
                    </div>
                </div>

                <div id="projects" class="grid gap-8 md:gap-12 md:gap-y-14 md:grid-cols-2 xl:grid-cols-3">
                    <% for(var i=0; i<portfolios.data.length; i++) {%>
                        <% 
                        
                        const tags = []; 

                        portfolios.data[i].attributes.portfolio_tags.data.forEach((tag) => {
                            tags.push(tag.id)
                        })
                        
                        %>

                        <article tags="<%- tags.join() %>" class="group  <% if (i!=0) { %> border-[#444] border-t-[1px] pt-8 md:pt-0 md:border-none  <% } %>" style="transition: transform 0.2s ease-in-out;">
                            <img
                            
                                src="https://cms.reeceharris.net<%= portfolios.data[i].attributes.screenshots.data[0].attributes.url %>"
                                class="h-56 w-full rounded-md object-cover shadow-xl transition"
                            />
                            <div class="pt-4 flex flex-col gap-1">
                                <h3 class="text-lg font-medium text-white">
                                    <%= portfolios.data[i].attributes.title %>
                                </h3>
                                <p class="line-clamp-3 text-sm/relaxed font-light text-white">
                                    <%= portfolios.data[i].attributes.description %>
                                </p>
                                <a href="/portfolio/v/<%= portfolios.data[i].id %>" class="view_more text-blue-400 cursor-pointer">See more</a>
                            </div>
                        </article>
                    <% } %>

                </div>
  

            </div>
        </section>


        <%- include('../components/footer.ejs'); %>

        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    </body>

    <script>
function hideArticle($article) {
      $article.addClass('hidden');
      setTimeout(function () {
        $article.css('transform', 'scale(0)');
        setTimeout(function () {
          $article.hide();
          // Remove the article from the grid completely if needed
        }, 300); // You can adjust the timing to match your transition duration
      }, 5); // Small delay to ensure the class is applied before transitioning
    }

    function showArticle($article) {
      $article.show();
      setTimeout(function () {
        $article.css('transform', 'scale(1)');
      }, 10); // Small delay to ensure the class is removed before transitioning
    }


        $('.tab_selector').click(function(e) {
            const tag = $(this).attr('id')

            $('.tab_selector').addClass('text-gray-400').removeClass('border-white text-white ')
            $(this).removeClass('text-gray-400').addClass('border-white text-white ')

            $('#projects article').each(function() {
                const tags = $(this).attr('tags')

                if (tags.includes(tag) || tag === 'all') {
                    showArticle($(this))
                } else {
                    hideArticle($(this))
                }

            })

        })

        $('#tab').change(function(e) {
            const tag = $(this).val()

            $('.tab_selector').addClass('text-gray-400').removeClass('border-white text-white ')
            $(this).removeClass('text-gray-400').addClass('border-white text-white ')

            $('#projects article').each(function() {
                const tags = $(this).attr('tags')

                if (tags.includes(tag) || tag === 'all') {
                    showArticle($(this))
                } else {
                    hideArticle($(this))
                }

            })

        })
    </script>
    
    </script>

</html>
